// This config is in the KDL format: https://kdl.dev

// === Modules ===
include "modules/envvariable.kdl"
include "modules/input.kdl"
include "modules/settings.kdl"

// === DMS Components ===
include "dms/colors.kdl"
include "dms/layout.kdl"
include "dms/alttab.kdl"
include "dms/binds.kdl"
include "dms/outputs.kdl"
include "dms/cursor.kdl"
include "dms/windowrules.kdl"
include "dms/wpblur.kdl"
